<launch>


  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  
  <param name="robot_description" command="$(find xacro)/xacro $(find car_description)/urdf/testbot.xacro"/>


    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model testbot 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>


<node name="joint_state_publisher" pkg = "joint_state_publisher" type ="joint_state_publisher"/>
<node name="robot_state_publisher" pkg = "robot_state_publisher" type ="robot_state_publisher"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find car_description)/worlds/SUST_IICT.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen"/> 
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find car_description)/rviz/car1.rviz"/>
</launch>
